<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file</title>
</head>
<body>
    <h1><%= file.name %></h1>
     <br>
     <br>
    <u>
        <h3>file info</h4>
    </u>

    <p>file name: <%= file.name %></p>
    <p>file size: <%= file.size %></p>
    <p>author: <%= author%></p>
    <p>created at: <%= file.createdAt %></p>

</body>
</html>